/*
Accordions
*/

.panel-group{
    .panel{
        @include border-radius(0px);
    }
}

.panel-default>.panel-heading{
    background: $midlight;
    color: $darkest;
}

.panel-title{
    color: $darkest;
}

.panel-body{
    background: $lightest;
}

.panel-group .panel .panel-heading .panel-title a:before {
    font-family: FontAwesome;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    margin-right: 5px;
}

.panel-group .panel .panel-heading .panel-title a.collapsed:before {
    content: "\f106";
}