/*
Backgrounds
*/

.pattern-bg-dark{
    background: url('../images/patterns/brick-wall-1A2530-1920x1080.png') repeat;
    padding:60px 0;
}



.pattern-bg-mid{
    background: url('../images/patterns/brick-wall-98A3AE-1920x1080.png') repeat;
    padding:60px 0;
}

.pattern-bg-mid-shorter{
    background: url('../images/patterns/brick-wall-98A3AE-1920x1080.png') repeat;
    padding:20px 0;
}



.pattern-bg-light{
    background: url('../images/patterns/brick-wall-E8EBEE-1920x1080.png') repeat;
    padding:60px 0;
}

.pattern-bg-light-supershort{
    background: url('../images/patterns/brick-wall-E8EBEE-1920x1080.png') repeat;
    padding:20px 0;
}