/*
Bars
*/

.navbar-inverse {
    background: $brand-primary;
    border:0px;
    margin: 0px;
    padding:0px 0;
    .navbar-nav>li>a{
        font-family: $title-font;
        font-weight: 500;
        text-transform: uppercase;
        font-size:13px;
        letter-spacing: 1px;
        color: $light;
        &:hover{
            color: $light;
            background-color: $brand-primary-highlight;
            &:active{
                color: $midlight;
            }
        }
    }
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: $light;
    background-color: $brand-primary-highlight;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: $light;
    background-color: $brand-primary-highlight;
}

@media(min-width:768px){
    .navbar-nav>li>a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .navbar-right .dropdown-menu {
        right: auto;
        left: auto;
    }
    .navbar-brand{
        line-height: 54px;
        margin-top: 0px;
    }
}

.navbar-brand{
    height: auto;
    padding: 0 0 0 0;
}

.navbar-brand>img{
    display: block;
    height: 80px;
    width: auto;
}


/**search form**/
.search-toggle{
    position: relative;
}
.search-form{
    position: absolute;
    right: 0;
    width: 250px;
    top: 100%;
    padding: 5px;
    background-color: $brand-primary-highlight;
    display: none;
}


@media(max-width:767px){ //TODO
    .navbar-inverse .navbar-toggle{
        border: 0px;
    }
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
        background-color: transparent;
    }
}

.top-bar{
    border-bottom:1px solid $light;
    padding:10px 0 0 0;
    span{
        display: inline-block;
        line-height:32px;
        padding:0px 10px;
        margin: 15px 0 auto 0;
        a{
            padding: 4px 10px;
            font-size: 12px;
            line-height: 20px;
            font-family: $base-font;
            font-weight: 900;
            display: block;
            margin: auto 0 10px 0;
            color: $light;
            &:hover{
                
                color: $midlight;
                &:active{
                    color: $mid;
                }
            }
        }
        i{
            color: $light;
            margin-right: 5px;
        }
    }
    &.dark{
        background-color: $brand-secondary;
        border-bottom: 0px;
        color: $light;
    }
}

.breadcrumb {
  background-color: transparent; // Override
  margin-bottom: 0px;
}

.nav nav-reginald {
  padding: 4px 10px;
  font-size: 12px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 900;
  display: block;
  margin: auto 0 10px 0;
  color: #DADEDB;
}