/*
Call to action
*/

.cta-skin{
    padding: 40px 0;
}

.cta-text{
    color: $lightest;
    h2{
    	font-weight: 500;        
    	margin-bottom: 20px;
    }
    p{
    	font-size: 17px;
    	line-height: 26px;
    }    
}    