/*
Footer styles
*/
.footer{
    background-color: $brand-primary;
    padding: 40px 0;
    padding-bottom:0px;
    h3{
        color: $light;
        text-transform: uppercase;
        padding-left: 10px;
        border-left: 3px solid $dark;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 700;
        font-family: $title-font;
    }
    .form-control{
        border: 0px;
        background-color: rgba(255,255,255,1);
        @include box-shadow(none);
    }
    p{
        color: $lightest;       
    }
    ul.f-list {
        margin: 0;
        padding: 0;
        li{
            &:last-child a{
                border-bottom: 0px;
            }
            a{
                padding: 8px 0;
                color: $lightest;
                text-transform: capitalize;
                border-bottom:1px dashed rgba(255,255,255,0.2);
                display:block;
                position:relative;
                padding-left:15px;
                &:after{
                        content: "\f0da";
                        font-family: "FontAwesome";
                        position: absolute;
                        left: 0;
                        top: 8px;
                        color: $dark;
                }
                &:hover{
                   color: $midlight;
                    &:active{
                        color: $mid;
                    } 
                }
            }
        }
    }
    .footer-social{
        li{        
            padding: 10px 0px 10px;
            a{
                font-size: 30px;
                color: $lightest;
                display:block;
                margin:3px 5px;
                    &:hover{
                        color: $midlight;
                        &:active{
                        color: $mid;
                    } 
                }
            }
        }
    }
    .phone{
        font-size: 18px;
        color: $lightest;
        i{
            margin-right: 5px;
        }
    }
    .phone{
        font-size: 18px;
        color: $lightest;
        i{
            margin-right: 5px;
        }
    }
    p{
        a{
         color: $lightest;
            &:hover{
               color: $midlight;
                &:active{
                    color: $mid;
                } 
            }
      }
    }
    .f-post{
        li{
            padding: 10px 0px 10px;
            margin-bottom: 8px;
            border-bottom: 1px dashed rgba(255,255,255,0.2);
            &:last-child{
                border-bottom: 0;
            }
        }
        a.thumb{
            float: left;
            margin-right: 10px;
            display: block;
        }
        .f-post-content{
            overflow: hidden;
             a{
            color:#fff;
            display: inline-block;
                &:hover{
                   color: $midlight;
                    &:active{
                        color: $mid;
                    } 
                }
        }
        em{
            display: block;
            color:#eee;
        }
        }
    }
}
.footer-bottom{
    padding: 15px 0;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    color:#eee;
}


.footer.light .footer-bottom{
    background-color: #eee;
    color:#888;
}

