/*
Icons style
*/

.step .icon-square {
  position: relative;
  margin-left: 10px;
}

.step.even .icon-square {
  margin-right: 10px;
}

.step .icon-square:before {
  content: "";
  display: block;
  width: 65px;
  border-bottom: 1px solid #dadada;
  position: absolute;
  top: 35px;
  left: -65px;
}

.step.even .icon-square:before {
  left: auto;
  right: -65px;
}

.icon-square {
  display: inline-block;
}

.icon-square i {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-align: center;
  color: #ddd;
  font-size: 40px;
  padding: 0;
  margin: 0 0 10px 0;
  display: table;
  width: 70px;
  height: 70px;
  border: 2px solid #ddd;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.step:hover .icon-square i {
  background-color: #32c5d2;
  color: #FFF;
}

.icon-square i:before {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.step h5 {
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
}
