/*
Icon boxes style
*/
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
    margin-left: 0px;
    font-size: inherit;
    display: inline-block;
}


