/*
slider revolution
*/

.slider-title{
    font-family: $title-font;
    color: $lightest;
    font-size: 60px;
    line-height: 70px;
}

.slider-caption{
    color: $lightest;
    font-size: 20px;
    line-height: 26px;
}