/*
Titles style
*/

.center-heading{
    text-align:center;
    h2{
        text-transform: uppercase; 
        font-weight: 700;
    }
    .border-width{
        height: 1px;
        width: 90px;
        background-color: $skincolor;
        display: block;
        margin: 10px auto;
    }
    p{
        font-size: 16px;
    }
}
.left-title-bar{
    h2{
        color: $darkest;
        text-transform: uppercase;
        font-weight: 700;
        padding-left: 10px;
        border-left: 3px solid $brand-secondary;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
.left-title{
    position: relative;
    font-size:18px;
    font-weight:700;
    margin-top: 10px;
    margin-bottom: 20px;
    &:after{
        content: "";
        width: 50px;
        height: 2px;
        background-color: $skincolor;
        position: absolute;
        left: 0;
        bottom: -10px;
    }
}
