/*
Top bar style
*/


.top-bar{
    border-bottom:1px solid $light;
    padding:6px 0;
    span{
        display: inline-block;
        line-height:32px;
        padding:0px 10px;
        a{
            padding: 4px 10px;
            
            font-size: 12px;
            line-height: 20px;
            font-family: $base-font;
            font-weight: 400;
            display: block;
            margin-top: 3px;
            color: $light;
            
            &:hover{
                
                color: $midlight;
                &:active{
                    color: $mid;
                }
            }
        }
        i{
            color: $light;
            margin-right: 5px;
        }
    }
    &.dark{
        background-color: $brand-secondary;
        border-bottom: 0px;
        color: $light;
    }
}