/*
Call to action
*/

.cta-skin{
    background-color: $brand-secondary-highlight;
    padding: 40px 0;
}

.cta-text{
    color: $lightest;
    h2{
    	font-weight: 500;
    	margin-bottom: 20px;
    }
    p{
    	font-size: 17px;
    	line-height: 26px;
    }    
}