/*
slider revolution
*/

.slider-title{
    font-family: $title-font;
    color: $light;
    font-size: 60px;
    line-height: 70px;
    text-transform: capitalize;
}

.slider-caption{
    color: $light;
    font-size: 19px;
    font-weight: 700px;
}
