/*
Top bar style
*/


.top-bar{
    border-bottom:1px solid #eee;
    padding:6px 0;
    span{
        display: inline-block;
        line-height:32px;
        padding:0px 10px;
        a{
            padding: 4px 10px;
            background-color: #CF6766;
            font-size: 12px;
            line-height: 20px;
            font-family: $base-font;
            font-weight: 400;
            display: block;
            margin-top: 3px;
            color:#fff;
            
            &:hover{
                color:#fff;
                background-color:#EF8988;
                i{
                    color:#fff;
                }
            }
        }
        i{
            color:#fff;
            margin-right: 5px;
        }
    }
    &.dark{
        background-color: #30415D;
        border-bottom: 0px;
        color: #fff
        span{
            color:#fff;
        }
    }
}