/*
Template variables
*/
$skincolor:#30415D;
$base-font:'Open Sans',Arial, sans-serif;
$title-font:'Open Sans',Arial, sans-serif;


/*
PALETTE
*/
$brand-main: #1A2530;
$brand-secondary: #34495E; // #30415D;
$calltoaction-front: #73605C; // #574659; // #888D96;
// $darkduckegg: #1F5855; // #3F6873;
// $lightduckegg: #5D848C; // #538783;
$contrast-1: #DF4949; // #CF6766;
$contrast-1-light: #E87F7F; // #EF8988;
$contrast-2: #87C44D; // #E27A3F;
$contrast-2-light: #E89465;
// $paleyellow: #F7F5E6;
$info: #6A6F71; // #596979;

/*
TEXT
*/
$lighttext: #E8EDE9; // #D4D9DE; // #E9F2F2;
$lightmidtext: #949999; // #ACB5BE; // #8F989D;
$midtext: #6A6F71; // #84919E; // #475059;
$darktext: #2B3035;

$tabhoverbackground: #5F676F; // #475059;
