@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,600,400italic,300italic,300);
@import "_mixins.scss";
@import "_variables.scss";
@import "_base.scss";
@import "_buttons.scss";
@import "_titles.scss";
@import "_boxes.scss";
@import "_cta.scss";
@import "_topbar.scss";
@import "_navbar.scss"; 
@import "_dropdown.scss";
@import "_form-elements.scss";
@import "_revolution-slider.scss";
@import "_item_slider.scss";
@import "_sidebar.scss";
@import "_tabs.scss";
@import "_news.scss";
@import "_footer.scss";
@import "_staff.scss";
@import "_accordions.scss";

.pattern-bg{
    background: url('../images/pattern.png') repeat;
    padding:60px 0;
    .center-heading{
        h2,p{
            color:#fff;
        }
    }
    h3{
        color:#fff;
        &:after{
            background-color: #fff;
        }
    }
}

.other-info{
    background:url('../images/pattern-2.png') repeat left top scroll #FFF;
    h4{
        text-transform: uppercase;
        font-weight: 700;
        padding-left: 10px;
        border-left: 3px solid $skincolor;
        margin-bottom: 30px;
    }
    ul{
        padding: 0px;
        margin-bottom: 0px;
    }
    .shaded-bg{
        background-color: #f3f3f3;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .white-bg{
        background-color: rgba(255,255,255,1);
        padding-bottom: 30px;
        padding-top: 30px;
    }
}
.seminars{
    li{
        padding-bottom: 10px;
        &:last-child{
            border-bottom: 0px;
            padding-bottom: 0px;
        }
        h5{
            margin-bottom:5px;
            font-size:18px;
            a{
                color:#000;
                &:hover{
                    color:$skincolor;
                }
            }

        }
        .info{
            margin-bottom: 0px;
        }
        p{
            span{
                color:$skincolor;
                font-weight: 700;
            }
        }
    }
}
.latest-news{
    padding-bottom:10px;
    .thumb{
        display: block;
        float: left;
        margin-right: 10px;
    }
    .news-content{
        overflow: hidden;
        h5{
            margin-bottom: 5px;
        }
    }
}
.newsletter-section{
    background:url('../images/pattern-2.png') repeat left top scroll #FFF;
    padding: 80px 0;
    form{
        text-align: center;
    }
    .form-control{
        width: 290px;
        display: inline-block;
        min-height: 40px;
        margin-bottom: 15px;
        margin-right: 10px;
    }
}
.intro-video-section{
    background:url('../images/pattern-2.png') repeat left top scroll #FFF;
    padding: 80px 0;
    h1{
        font-size: 50px;
        line-height: 55px;
        text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
        color:$skincolor;
    }
    p{
        font-size: 18px;
    }
    ul li{
        font-size: 16px;
        padding-top:10px;
        i{
            margin-right: 5px;
        }
    }
}
.video-bg-section{
    background-image: url('../images/poster.png');
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    .mb_YTVPBar{
        display: none !important;
    }
    .video-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(255,255,255,0.8);
    }
    h1{
        color:$skincolor;
        font-size: 50px;
        line-height: 60px;
        text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    }
    p{
        margin-bottom: 20px;
        font-size: 20px;
    }
}
@media(min-width:768px){
    .v-align-children {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        flex-direction: row;
        -webkit-flex-direction: row;
    }
}
.page-breadcrumb{
    background-color: $skincolor;
    padding: 40px 0;
    h2{
        margin: 0px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
    }
    .breadcrumb{
        padding: 0px;
        padding-top: 10px;
        margin: 0px;
        background-color: transparent;
        li{
            color:#eee;
            a{
                color:#fff;
                background-color: rgba(255,255,255,0.1);
                padding: 2px 10px;
                @include border-radius(3px);
                display: block;
                &:hover{
                    color: #333;
                    background-color: rgba(255,255,255,0.7);
                }
            }
        }
    }
}
.course-finder{
    padding: 20px 15px;
    padding-bottom: 10px;
    background-color: #f3f3f3;
    margin-top: 30px;
    .form-control,.btn-skin{
        margin-bottom: 10px;
    }
}
.table-courses{
    th{
        background-color: $skincolor;
        color:#fff;
    }
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: $skincolor;
    border-color: $skincolor;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: $skincolor;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.events-row .side-event .s-event-content{
    h5{
        font-size: 18px;
        margin-bottom: 10px;
    }
    p{
        margin: 5px 0;
        i{
            color:$skincolor;
            margin-right: 7px;
        }
    }
}


/**login register**/

 .form-group{
        position: relative;
        .form-control{
            min-height: 45px;
        }
        .input-icon{
            position: absolute;
            display: block;
            right: 0px;
            top:0px;
            height: 45px;
            width: 45px;
            text-align: center;
            line-height: 45px;
            font-size: 20px;
        }
    }
.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.hr-or {
    height: 1px;
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.btn-facebook {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 6px 12px;
    i{
        margin-right: 5px;
    }
    &:hover{
        color:#fff;
        opacity: 0.9;
    }
}
.btn-twitter {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    i{
        margin-right: 5px;
    }
      &:hover{
        color:#fff;
        opacity: 0.9;
    }
}
.login_social a{
    margin-bottom: 5px;
}